*{
    margin: 10px;
    margin-bottom: 0;
    padding: 0;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

html{

    font-size: 200.5%;
    background-image: url("./Recursos/Fondo.png");         
    
}

.Base{    
    
    justify-content: center;    
    color: white;      
    width:100%;             
}

section{

    width: 100%;
    display: flex;
    flex-wrap: wrap;     

}

div{

    width: 100%;
}

h1, h2{

    color: aquamarine;   
    margin:0; 
}

h1{

    width:100%;
    text-align: center;
    font-size: 2rem;    
}

img{

    display: flex;    
}



.Arriba{

    height: 15rem;
    width: 100%;      

}

.Menu{

    text-align: left;    
}

.Contacto{

    justify-content: center;
    height: 50rem;    
}

.Informacion{

    text-align: left;
}

.Capacidades{    
            
    height: 40rem; 
    margin: 0;   
    
}

.Uno, .Dos, .Tres{  
          
    margin: 0;
    width: 50%;   
    text-align: center;    
}

.Tres{

    width: 100%; 
   
}

.Trabajos{
  
    height: 20rem;
   
}

.Video1, .Video2{

    margin: 10px;
    width: 48%;

}

.Contactame{

    height: 15rem;
    align-content: center;
    
}







